
<% form_for [:admin, @legajo, @foto_de_legajo], :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </p>
  <br />
  <p>
    <%= f.label :foto %><br />
    <%= f.file_field :foto %>
  </p>
  <br /><br />
  <p>
    <%= f.submit 'Guardar estos cambios' %> o <%= link_to 'Cancelar', admin_legajo_foto_de_legajos_path %>
  </p>
<% end %>
