<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<% if !current_user %>
  <%= link_to "Nuevo usuario", new_account_path %> |
  <%= link_to "Ingresar al sistema", new_user_session_path %> |
<% else %>
  <%= link_to "Mi cuenta de usuario", account_path %> |
  <%= link_to "Cerrar sesion de usuario", user_session_path, :method => :delete, :confirm => "Cierra sesion de usuario ?" %>
<% end %>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>

